project/.boot/
project/.sbtboot/
project/.ivy/
project/target
project/project/
target
.idea
.history
.bsp/
*/project
*/target


.metadata
.cache-main
.classpath
.project
.settings
*.class
*.orig
*.log

.DS_Store
*.iml
scalastyle-output.xml

